@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    text-size-adjust: 100%;
  }

  body,
  h1,
  h2,
  h3,
  p,
  blockquote,
  figure,
  ol,
  dl,
  dd,
  pre {
    margin: 0;
  }

  ol {
    padding: 0;
    list-style: none;
  }

  img,
  picture {
    display: block;
    max-inline-size: 100%;
  }

  img {
    block-size: auto;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}
